@model MyDocu.Models.OpenFileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenFile</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
